In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from bs4 import BeautifulSoup
import requests
from csv import writer
import re

In [2]:
url = "https://www.pararius.com/apartments/amsterdam?ac=1"

In [3]:
page = requests.get(url)
print(page)

<Response [200]>

In [4]:
soup = BeautifulSoup(page.content,'html.parser')
# soup

In [5]:
# soup.prettify()
# print(soup.prettify())

In [6]:
# all sections in a list
lists = soup.find_all('section', class_='listing-search-item')
for list in lists:
    title = list.find("a", class_="listing-search-item__link--title")
    location = list.find("div", class_="listing-search-item__sub-title")
    price = list.find("div", class_="listing-search-item__price")
    area = list.find("li", class_="illustrated-features__item--surface-area")
    bedrooms = list.find("li", class_="illustrated-features__item--number-of-rooms")
    furniture_status = list.find("li", class_="illustrated-features__item--interior")

    # info = [title,location,price,area,bedrooms,furniture_status]
    # print(info)

In [7]:
# all sections in a list
lists = soup.find_all('section', class_='listing-search-item')
for list in lists:
    title = list.find("a", class_="listing-search-item__link--title")
    if title:
        title = title.text.strip()
    
    location = list.find("div", class_="listing-search-item__sub-title")
    if location:
        location = location.text.strip()
    
    price = list.find("div", class_="listing-search-item__price")
    if price:
        price = price.text.strip()
    
    area = list.find("li", class_="illustrated-features__item--surface-area")
    if area:
        area = area.text.strip()
    
    bedrooms = list.find("li", class_="illustrated-features__item--number-of-rooms")
    if bedrooms:
        bedrooms = bedrooms.text.strip()

    furniture_status = list.find("li", class_="illustrated-features__item--interior")
    if furniture_status:
        furniture_status = furniture_status.text.strip()

    # info = [title,location,price,area,bedrooms,furniture_status]
    # print(info)

In [8]:
# all sections in a list
title_ = []
location_ = []
price_ = []
area_ = []
bedrooms_ = []
furniture_status_ = []

lists = soup.find_all('section', class_='listing-search-item')
for list in lists:
    title = list.find("a", class_="listing-search-item__link--title")
    if title:
        title = title.text.strip()
    
    location = list.find("div", class_="listing-search-item__sub-title")
    if location:
        location = location.text.strip()
    
    price = list.find("div", class_="listing-search-item__price")
    if price:
        price = price.text.strip()
    
    area = list.find("li", class_="illustrated-features__item--surface-area")
    if area:
        area = area.text.strip()
    
    bedrooms = list.find("li", class_="illustrated-features__item--number-of-rooms")
    if bedrooms:
        bedrooms = bedrooms.text.strip()

    furniture_status = list.find("li", class_="illustrated-features__item--interior")
    if furniture_status:
        furniture_status = furniture_status.text.strip()
        
    title_.append(title)
    location_.append(location)
    price_.append(price)
    area_.append(area)
    bedrooms_.append(bedrooms)
    furniture_status_.append(furniture_status)

**Data Cleaning**

In [9]:
def regex_cleaner(x):
    reg = re.compile(r'\d+')
    
    final_x = []
    for i in range(len(x)):
        rectified_x = reg.findall(x[i])
        rectified_x = "".join(rectified_x)
        final_x.append(rectified_x)
    return final_x

In [10]:
new_area = regex_cleaner(area_)
new_price = regex_cleaner(price_)
new_bedrooms = regex_cleaner(bedrooms_)

**Creating the Data Frame**

In [11]:
details = {'title':title_, 'location':location_,'price':new_price,'area':new_area,'bedrooms':new_bedrooms,'furniture_status':furniture_status_}

In [12]:
real_estate = pd.DataFrame(details)
real_estate.isna().sum()

title               0
location            0
price               0
area                0
bedrooms            0
furniture_status    3
dtype: int64

In [13]:
real_estate.dropna(axis=0,inplace=True)

In [14]:
real_estate.head()

,title,location,price,area,bedrooms,furniture_status
0,Apartment Bosboom Toussaintstraat,1054 AT Amsterdam (Helmersbuurt),4750,155,5,Furnished
1,Apartment Planciusstraat,1013 MD Amsterdam (Haarlemmerbuurt),3250,157,3,Furnished
2,Apartment Singel 94 B,1015 AD Amsterdam (Grachtengordel-West),4250,135,3,Furnished
3,Apartment Damstraat 1 E,1012 JL Amsterdam (Burgwallen-Oude Zijde),4000,100,3,Furnished
4,Apartment Ookmeerweg 8 A,1068 ZX Amsterdam (Osdorp-Oost),1660,123,4,Upholstered

**Scraping new data from multiple pages**

In [15]:
url_pages = []
title_ = []
location_ = []
price_ = []
area_ = []
bedrooms_ = []
furniture_status_ = []
page = 2
while page != 19:
    url = f"https://www.pararius.com/apartments/amsterdam/page-{page}"
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # all sections in a list
    # getting the data
    lists = soup.find_all('section', class_='listing-search-item')
    for list in lists:
        title = list.find("a", class_="listing-search-item__link--title")
        if title:
            title = title.text.strip()
        
        location = list.find("div", class_="listing-search-item__sub-title")
        if location:
            location = location.text.strip()
        
        price = list.find("div", class_="listing-search-item__price")
        if price:
            price = price.text.strip()
        
        area = list.find("li", class_="illustrated-features__item--surface-area")
        if area:
            area = area.text.strip()
        
        bedrooms = list.find("li", class_="illustrated-features__item--number-of-rooms")
        if bedrooms:
            bedrooms = bedrooms.text.strip()

        furniture_status = list.find("li", class_="illustrated-features__item--interior")
        if furniture_status:
            furniture_status = furniture_status.text.strip()
            
        title_.append(title)
        location_.append(location)
        price_.append(price)
        area_.append(area)
        bedrooms_.append(bedrooms)
        furniture_status_.append(furniture_status)

    page = page + 1

In [16]:
new_area = regex_cleaner(area_)
new_price = regex_cleaner(price_)
new_bedrooms = regex_cleaner(bedrooms_)

In [17]:
details_multiple_pages = {'title':title_, 'location':location_,'price':new_price,'area':new_area,'bedrooms':new_bedrooms,'furniture_status':furniture_status_}

In [18]:
real_estate_multiple = pd.DataFrame(details_multiple_pages)
real_estate_multiple.isna().sum()

title                0
location             0
price                0
area                 0
bedrooms             0
furniture_status    73
dtype: int64

In [19]:
real_estate_multiple.dropna(axis=0,inplace=True)

In [20]:
real_estate_multiple

,title,location,price,area,bedrooms,furniture_status
0,Apartment Bosboom Toussaintstraat,1054 AT Amsterdam (Helmersbuurt),4750,155,5,Furnished
1,Apartment Willem Frederik Hermansstraat,1011 DG Amsterdam (Nieuwmarkt/Lastage),2000,90,3,Furnished
2,Apartment Runstraat 23 III,1016 GJ Amsterdam (Grachtengordel-West),2000,60,3,Furnished
4,Apartment Wouwermanstraat 1 1+2,1071 LT Amsterdam (Museumkwartier),3000,140,4,Upholstered
5,Apartment Sloterkade 138 D,1058 HM Amsterdam (Hoofddorppleinbuurt),2600,106,3,Upholstered
...,...,...,...,...,...,...
517,Apartment Wilhelminastraat 29 2,1054 VV Amsterdam (Helmersbuurt),2000,53,2,Upholstered or furnished
518,Apartment Valeriusstraat,1075 GC Amsterdam (Willemspark),5500,210,5,Upholstered
521,House Amstelbeststraat 4,1096 GD Amsterdam (Omval/Overamstel),8750,324,7,Furnished
522,Apartment Leliegracht 12 1,1015 DE Amsterdam (Grachtengordel-West),2250,95,2,Furnished
523,Apartment Leliegracht 12 II,1015 DE Amsterdam (Grachtengordel-West),3400,160,3,Furnished

In [21]:
all_real_estate =[real_estate,real_estate_multiple]
all_real_estate_df = pd.concat(all_real_estate)

In [22]:
all_real_estate_df.head()

,title,location,price,area,bedrooms,furniture_status
0,Apartment Bosboom Toussaintstraat,1054 AT Amsterdam (Helmersbuurt),4750,155,5,Furnished
1,Apartment Planciusstraat,1013 MD Amsterdam (Haarlemmerbuurt),3250,157,3,Furnished
2,Apartment Singel 94 B,1015 AD Amsterdam (Grachtengordel-West),4250,135,3,Furnished
3,Apartment Damstraat 1 E,1012 JL Amsterdam (Burgwallen-Oude Zijde),4000,100,3,Furnished
4,Apartment Ookmeerweg 8 A,1068 ZX Amsterdam (Osdorp-Oost),1660,123,4,Upholstered

In [23]:
all_real_estate_df.to_csv('scraped_estate_3.csv',index=False)